train_src: "data/wikibio/small/train_input.txt"
train_tgt: "data/wikibio/small/train_output.txt"
# valid_src: "data/valid_input.txt"
# valid_tgt: "data/valid_output.txt"
save_data: "experiments/wikibio/small/data/data"
src_vocab_size: 20000
tgt_vocab_size: 20000
src_seq_length: 1000  # we do not truncate the source table
tgt_seq_length: 1000  # we do not truncate the target sentences

dynamic_dict: true  # Dynamic dict is used by the copy mechanism
share_vocab: true  # SRC and TGT are both written in english

lower: true

log_file: 'experiments/wikibio/small/preprocess-log.txt' 
